.logo {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;
  }
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: $accent-color;
  text-decoration: none;
}
.logo__text {
  color: #000000;

  &--white-color {
    color: #ffffff;
  }
}
.logo-footer__logo {
  @media screen and (max-width: 479px) {
    display: flex;
    justify-content: center;
  }
  margin-bottom: 20px;
  display: inline-block;
}
