footer {
  background-color: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__content {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: 60px;
  }
  @media screen and (min-width: 780px) {
    flex-grow: 1;
  }
}
.page-footer__container {
  display: flex;
  @media screen and (max-width: 479px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    flex-wrap: wrap;
  }
  align-items: baseline;
  position: relative;
}
.address__item {
  @media screen and (max-width: 767px) {
    display: block;
    max-width: 232px;
    text-align: center;
  }
}

.address__item:not(:first-child) {
  @media screen and (max-width: 479px) {
    margin-top: 8px;
  }
  margin-top: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--other-color {
    color: #ffffff;
  }

  &:focus,
  &:hover {
    color: #ffffff;
  }
}

.join {
  flex-direction: column;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 0px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: 165px;
  }
  margin-left: 70px;
}
.join__title,
.subscription__title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription {
  @media screen and (max-width: 767px) {
    margin-left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-top: 60px;
  }
  margin-left: 93px;
}
.subscription__input {
  @media screen and (max-width: 767px) {
    max-width: 450px;
    margin-bottom: 20px;
  }
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  font-size: 16px;
  line-height: 1.25;
  padding: 0px;
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  outline: 1px solid transparent;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.subscription__button {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  display: flex;
  padding: 10px 29px;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px auto;
  margin-left: 12px;
  color: #ffffff;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription__label {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
  }
  flex-direction: row;
}
.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}
